{% block content_right %}
<h3>This is a widget!</h3>
<form method="post" action="Login" name="login">
						<label for="username">Username</label>
						<input type="text" name="username" />

						<label for="password">Password</label>
						<input type="password" name="password" />

						<input name="login" type="submit" class="button" value="Login">
					</form>
					
{% endblock %}